@import 'root';
@import 'media';
@import 'keyframes';
@import 'mixins';

html {
    font-size: 19px;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

div {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

body {
    font-family: $font; // FF MAIN
    cursor: default;
    background-color: $bgc;
    color: $gen;
    font-weight: 400;
    @extend %scrollbar;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    font-family: 'Domine';
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    font-family: 'Domine';
}

h3 {
    font-size: 1.4375rem;
    font-weight: 400;
    line-height: 1.875rem;
    font-family: 'Domine';
}

section {
    position: relative;
}

p {
    color: $text;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

span {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: none;
}

ul {
    list-style: none;
}

.wrapper {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
    max-width: 1440px;
}

a {
    color: $text;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

svg {
    min-height: 1rem;
    height: auto;
}

textarea,
button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: $font;
    border: none;
    background: none;
    outline: none;

}

button {
    cursor: pointer;
}

// убирает цвет автокомплита у инпута
input {

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        font-size: 1rem;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

.header{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.75rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    &__links{
        width: calc(100% - 25rem);
    }

    &__link{
        font-weight: 700;
        color: $gen;
        margin-right: 2.125rem;
        letter-spacing: -0.05em;

        &.active{
            color: $bgc;
        }
    }
}