$gen: #000000;
$accent: #FAB807;
$bgc: #FFF;
$text: #44587E;
$grad: linear-gradient(90deg, rgba(205, 202, 202, 0.51) 0%, rgba(47, 46, 46, 0.285813) 77.31%, rgba(0, 0, 0, 0.22) 100%);

$passive: #9DA9BF;
$font: 'Open Sans';
$light-white: rgba(255, 255, 255, 0.69);
$gray: #C4C4C4;

$quad-out: cubic-bezier(.165,.84,.44,1);