footer.footer
    .wrapper
        .footer__container
            a.footer__logo(href="#")
                img.footer__image(src="../img/logo.svg")
            nav.footer__nav
                a.footer__link(href="#") Процедуры
                a.footer__link(href="#") До/После
                a.footer__link(href="#") О хирурге
                a.footer__link(href="#") Блог
                a.footer__link(href="#") Контакты
            .footer__box
                .footer__details
                    .footer__link Коррекция тела
                    a.footer__link(href="#") Липолифтинг
                    a.footer__link(href="#") Липосакция
                    a.footer__link(href="#") Абдоминопластика
                    a.footer__link(href="#") Подтяжка ягодиц
                .footer__details
                    .footer__link Коррекция лица
                    a.footer__link(href="#") Подтяжка лица и шеи
                    a.footer__link(href="#") Хейлопластика
                    a.footer__link(href="#") Коррекция формы носа
                    a.footer__link(href="#") Блефаропластика
            .footer__contacts
                .footer__social
                    a.footer__link(href="#" target="_blank")
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="11.5" stroke="#44587E"/>
                            <path d="M17.9362 15.3217C17.9216 15.2898 17.9081 15.2631 17.8955 15.2418C17.6872 14.8585 17.2895 14.3878 16.7023 13.83L16.6897 13.8173L16.6835 13.8107L16.6772 13.8046H16.671C16.4045 13.5447 16.2357 13.3701 16.1651 13.2805C16.036 13.1104 16.0068 12.9379 16.0776 12.7633C16.1278 12.6313 16.3152 12.3524 16.64 11.9263C16.8107 11.7008 16.946 11.5199 17.0461 11.3832C17.7666 10.4038 18.0788 9.77792 17.9832 9.50514L17.9456 9.44129C17.9205 9.40283 17.8559 9.36773 17.7518 9.3358C17.6477 9.30387 17.5144 9.29883 17.3521 9.31993L15.5528 9.333C15.5112 9.32871 15.4696 9.32983 15.4278 9.33599C15.3861 9.34252 15.3591 9.34887 15.3465 9.35522C15.3339 9.36175 15.3237 9.36698 15.3153 9.37109L15.2903 9.39032C15.2694 9.40301 15.2466 9.42542 15.2216 9.45753C15.1966 9.48946 15.1756 9.52661 15.1592 9.56937C14.9634 10.0847 14.7406 10.5638 14.4907 11.0068C14.3366 11.2708 14.1949 11.4999 14.066 11.6935C13.9369 11.8875 13.8286 12.0301 13.7411 12.1214C13.6537 12.2129 13.5744 12.2867 13.5037 12.3417C13.4329 12.3974 13.3787 12.4205 13.3414 12.4121C13.3038 12.4037 13.2684 12.3951 13.2351 12.3864C13.1769 12.3481 13.1298 12.296 13.0946 12.2299C13.0591 12.164 13.0352 12.0809 13.0226 11.9808C13.0102 11.8808 13.0027 11.7945 13.0009 11.7221C12.9987 11.6496 12.9998 11.5475 13.004 11.4155C13.0082 11.2835 13.0102 11.1943 13.0102 11.1472C13.0102 10.9855 13.0133 10.8098 13.0197 10.6201C13.0259 10.4306 13.0312 10.2805 13.0352 10.1698C13.0394 10.0593 13.0414 9.94203 13.0414 9.81843C13.0414 9.69521 13.0341 9.59812 13.0195 9.52773C13.0049 9.45753 12.983 9.38957 12.954 9.32329C12.9247 9.25738 12.882 9.20623 12.8258 9.17019C12.7695 9.13397 12.6998 9.10522 12.6165 9.08394C12.3956 9.03278 12.1146 9.00533 11.7731 9.00085C10.9984 8.99264 10.5006 9.04379 10.2798 9.15432C10.1924 9.20137 10.1131 9.26504 10.0425 9.34607C9.96743 9.4398 9.95702 9.49114 10.0112 9.49917C10.2612 9.53763 10.4382 9.6293 10.5422 9.774L10.5799 9.85055C10.6089 9.90618 10.6381 10.004 10.6673 10.1444C10.6965 10.285 10.7152 10.4403 10.7236 10.6108C10.7444 10.9217 10.7444 11.1877 10.7236 11.4093C10.7027 11.631 10.683 11.8033 10.6642 11.9265C10.6454 12.0501 10.6173 12.15 10.5799 12.2267C10.5422 12.3037 10.5174 12.3505 10.5048 12.3675C10.4922 12.3845 10.482 12.3951 10.4736 12.3994C10.4193 12.4205 10.3633 12.4314 10.3049 12.4314C10.2464 12.4314 10.1758 12.4015 10.0923 12.3417C10.0091 12.2824 9.92251 12.2002 9.83304 12.0959C9.74338 11.9917 9.64259 11.8457 9.52993 11.6582C9.41745 11.471 9.30077 11.2495 9.18008 10.9939L9.0802 10.8085C9.01775 10.6894 8.93229 10.5158 8.82402 10.288C8.71574 10.0602 8.61987 9.8399 8.53661 9.62669C8.5032 9.53744 8.45335 9.46929 8.3867 9.42225L8.35548 9.40301C8.33466 9.38602 8.30125 9.36791 8.25541 9.34887C8.2094 9.32964 8.16174 9.31582 8.11171 9.30724L6.39988 9.31993C6.22496 9.31993 6.10627 9.36063 6.04382 9.44148L6.01881 9.47975C6.00621 9.50122 6 9.53539 6 9.58206C6 9.62911 6.0126 9.68643 6.03761 9.75439C6.28759 10.355 6.55929 10.9342 6.8529 11.4919C7.1467 12.0499 7.4016 12.4993 7.61834 12.8399C7.8349 13.1808 8.05566 13.5021 8.28061 13.8046C8.50557 14.107 8.65439 14.3007 8.72724 14.3858C8.8001 14.4711 8.85725 14.535 8.89906 14.5775L9.05518 14.731C9.15506 14.8331 9.30205 14.9556 9.4956 15.0983C9.68933 15.2411 9.9037 15.3815 10.1391 15.5196C10.3742 15.6582 10.6483 15.7708 10.9606 15.8583C11.273 15.9457 11.577 15.9808 11.8726 15.9636H12.5911C12.737 15.9509 12.8473 15.9043 12.9222 15.823L12.9472 15.7911C12.9638 15.7657 12.9795 15.7261 12.9941 15.6731C13.0085 15.6199 13.016 15.5613 13.016 15.4974C13.0117 15.3143 13.0253 15.149 13.0566 15.0023C13.0878 14.8554 13.1232 14.7446 13.1628 14.67C13.2025 14.5956 13.247 14.5327 13.2972 14.4816C13.3473 14.4304 13.3825 14.3998 13.4035 14.389C13.4243 14.3785 13.4411 14.371 13.4535 14.3666C13.5534 14.3326 13.671 14.3656 13.8065 14.4655C13.9418 14.5658 14.0689 14.689 14.1876 14.8361C14.3063 14.9831 14.4489 15.1479 14.6156 15.3313C14.7821 15.5144 14.9278 15.6505 15.0529 15.74L15.178 15.8169C15.2612 15.8679 15.3695 15.9147 15.5028 15.9575C15.6361 15.9999 15.7528 16.0107 15.8526 15.9894L17.452 15.9636C17.6103 15.9636 17.7332 15.9371 17.8207 15.8837C17.9081 15.8309 17.9602 15.7719 17.9768 15.708C17.9934 15.6442 17.9945 15.5721 17.9799 15.4909C17.9653 15.4101 17.9507 15.3537 17.9362 15.3217Z" fill="#44587E"/>
                        </svg>
                    a.footer__link(href="#" target="_blank")
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.0087 9.40894C10.5695 9.40894 9.39844 10.563 9.39844 11.9816C9.39844 13.4 10.5694 14.554 12.0087 14.554C13.4479 14.554 14.619 13.4 14.619 11.9816C14.619 10.563 13.4479 9.40894 12.0087 9.40894ZM12.0087 13.6069C11.0936 13.6069 10.3492 12.8777 10.3492 11.9816C10.3492 11.0853 11.0936 10.3562 12.0087 10.3562C12.9237 10.3562 13.6682 11.0853 13.6682 11.9816C13.6682 12.8778 12.9238 13.6069 12.0087 13.6069Z" fill="#44587E"/>
                            <path d="M14.1216 7H9.87836C8.29132 7 7 8.28615 7 9.8672V14.1328C7 15.7137 8.29116 17 9.87836 17H14.1216C15.7088 17 17 15.7137 17 14.1328V9.8672C17 8.28631 15.7088 7 14.1216 7ZM16.0474 14.1328C16.0474 15.1905 15.1835 16.0511 14.1216 16.0511H9.87836C8.81652 16.0511 7.95258 15.1905 7.95258 14.1328L7.95258 9.8672C7.95258 8.80947 8.81652 7.94889 9.87836 7.94889L14.1216 7.94889C15.1835 7.94889 16.0474 8.80947 16.0474 9.8672V14.1328Z" fill="#44587E"/>
                            <path d="M14.665 9.91572C15.0042 9.91572 15.2791 9.64182 15.2791 9.30393C15.2791 8.96605 15.0042 8.69214 14.665 8.69214C14.3258 8.69214 14.0508 8.96605 14.0508 9.30393C14.0508 9.64182 14.3258 9.91572 14.665 9.91572Z" fill="#44587E"/>
                            <circle cx="12" cy="12" r="11.5" stroke="#44587E"/>
                        </svg>
                    a.footer__link(href="#" target="_blank")
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="1">
                        <circle cx="12" cy="12" r="11.5" stroke="#44587E"/>
                        <path d="M10.6479 8.46355C11.0664 8.12945 11.6589 8.01589 12.2204 8.00274C12.813 7.99836 13.4056 8.00055 13.998 8.00055C14.0007 8.52684 14.0007 9.05094 13.998 9.57724C13.6161 9.57724 13.2313 9.57724 12.8493 9.57724C12.6076 9.56409 12.3581 9.71915 12.3139 9.9223C12.3087 10.2739 12.3113 10.6254 12.3113 10.9771C12.8726 10.9793 13.4341 10.9771 13.9954 10.9793C13.9539 11.488 13.8785 11.9947 13.7902 12.4971C13.2937 12.5014 12.7973 12.4971 12.3009 12.4992C12.2957 13.9995 12.3035 15.4976 12.2983 16.9979C11.5601 17.0001 10.8246 16.9958 10.0864 17.0001C10.0734 15.4999 10.0864 13.9996 10.0786 12.4992C9.71995 12.4971 9.35867 12.5014 9 12.4971C9.00261 11.9925 9 11.4882 9 10.9858C9.35867 10.9815 9.71995 10.9858 10.0786 10.9837C10.089 10.4945 10.0682 10.0031 10.089 9.51395C10.1282 9.12313 10.3023 8.73218 10.6479 8.46355Z" fill="#44587E"/>
                        </g>
                        </svg>

                    a.footer__link(href="#" target="_blank")
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="11.5" stroke="#44587E"/>
                            <path d="M18.8374 9.79254C18.7141 8.8426 18.1518 8.24675 17.1538 8.15874C16.0111 8.05799 13.5374 8 12.39 8C10.0431 8 8.99426 8.05595 7.88441 8.16806C6.82674 8.27473 6.36374 8.73344 6.18175 9.68042C6.05429 10.344 6 10.9656 6 12.4345C6 13.754 6.06385 14.5839 6.16265 15.2821C6.29849 16.2409 6.97284 16.7796 7.96107 16.8599C9.11077 16.9534 11.4139 17 12.5527 17C13.653 17 16.1292 16.9441 17.2302 16.8226C18.2157 16.7139 18.6843 16.2002 18.8374 15.2541C18.8374 15.2541 19 14.2177 19 12.4252C19 11.4045 18.9236 10.4552 18.8374 9.79254ZM11.1177 14.2832V10.6358L14.6761 12.4409L11.1177 14.2832Z" fill="#44587E"/>
                        </svg>
                a.footer__phone(href="tel:+7(812)602-99-92") +7(812)602-99-92
.bottom
    .wrapper
        .bottom__container
            .bottom__copyright ©2020 Хирург Максим Росляков
            a.bottom__developer(href="#")
                img.bottom__image(src="../img/icons/asap.svg", alt="")
                span.bottom__text Разработка сайта