<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/style-ex.css")
        link(href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet")

        title About
    body
        .black
            .container-small
                header

                    .top-logo-container
                        .yellow-back_logo
                    nav
                        ul
                            li 
                                a(href="index.html") Наши работы
                            li 
                                a.this() О нас
                            li 
                                a(href="#") Контакты

        .learn-more_block
            .container-small
                .learn-more_text
                    h1 Ex ipsum do eu culpa aliquip
                    h2 Non sint veniam non officia cupidatat.
                    p Ex ipsum do eu culpa aliquip proident esse eiusmod. Adipisicing ullamco esse ad consectetur ullamco commodo ullamco elit cillum laborum eu magna. Tempor nulla eiusmod id do. Est ex proident ex ipsum fugiat non. Ullamco commodo ut quis sit sunt aliqua in exercitation ullamco laborum est sit. Magna cillum incididunt enim laborum amet consectetur quis ullamco in.
                img.learn-more_img(src="img/Bart.png")
        .learn-more_block.short
            .container-small
                img.learn-more_img(src="img/Bart.png")
                .learn-more_text
                    h1 Ex ipsum do eu culpa aliquip
                    h2 Non sint veniam non officia cupidatat.
                    p Ex ipsum do eu culpa aliquip proident esse eiusmod. Adipisicing ullamco esse ad consectetur ullamco commodo ullamco elit cillum laborum eu magna. Tempor nulla eiusmod id do. Est ex proident ex ipsum fugiat non. Ullamco commodo ut quis sit sunt aliqua in exercitation ullamco laborum est sit. Magna cillum incididunt enim laborum amet consectetur quis ullamco in.
        .learn-more_block.short
            .container-small
                .learn-more_text
                    h1 Ex ipsum do eu culpa aliquip
                    h2 Non sint veniam non officia cupidatat.
                    p Ex ipsum do eu culpa aliquip proident esse eiusmod. Adipisicing ullamco esse ad consectetur ullamco commodo ullamco elit cillum laborum eu magna. Tempor nulla eiusmod id do. Est ex proident ex ipsum fugiat non. Ullamco commodo ut quis sit sunt aliqua in exercitation ullamco laborum est sit. Magna cillum incididunt enim laborum amet consectetur quis ullamco in.
                img.learn-more_img(src="img/Bart.png")
        .last-text    
            .container-small Adipisicing elit sint consequat duis excepteur. Et aliquip tempor consectetur commodo esse est quis ullamco officia. Minim irure ad proident do officia sint veniam quis reprehenderit adipisicing ad fugiat commodo. Id ea cillum veniam veniam exercitation reprehenderit culpa. Anim reprehenderit aliquip officia officia voluptate. Cupidatat occaecat aute amet ut cillum cillum occaecat in laborum tempor. Non culpa proident veniam duis eu est commodo duis ex ullamco incididunt sunt ipsum. Quis reprehenderit ea tempor laboris exercitation aliqua ullamco et irure laboris. Voluptate aliqua duis aliquip sunt. Cupidatat aute ullamco reprehenderit in enim ullamco eu mollit cillum magna dolore incididunt reprehenderit ex. Sit cillum dolore proident occaecat ipsum tempor.
        
        footer
            .container-small
                .social-media
                    img(src="img/icon/lineb.png", alt="")
                    a(href="")
                        img(src="img/icon/telegramb.png", alt="")
                    a(href="")
                        img(src="img/icon/whatsupb.png", alt="")
                    a(href="")
                        img(src="img/icon/instagramb.png", alt="")
                    a(href="")
                        img(src="img/icon/facebookb.png", alt="")
                    a(href="")
                        img(src="img/icon/vkb.png", alt="")
                    img(src="img/icon/lineb.png", alt="")
                .phone Телефон: +7 (937) 225-55-71
