<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/index.css")
        link(rel="shortcut icon" href="img/icon/favicon.ico" type="image/x-icon")
        link(href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet")
        title Skills
    body
        .promo 
            include components/header.pug
            .promo__backgrounds 
                img.promo__bg(src="img/backgrounds/main-page-1.jpg")
                img.promo__bg(src="img/backgrounds/main-page-2.jpg")
                img.promo__bg(src="img/backgrounds/main-page-3.jpg")
                img.promo__bg(src="img/backgrounds/main-page-4.jpg")
            .wrapper 
                .promo__content
                    h2.promo__title “Et aliquip nostrud commodo proident veniam enim”
                    .promo__socials Следите за нами!
                        .line 
                        a.promo__social(href="#")
                            img(src="img/icon/telegram.svg", alt="") 
                        a.promo__social(href="#")
                            img(src="img/icon/whatsup.svg", alt="") 
                        a.promo__social(href="#")
                            img(src="img/icon/instagram.svg", alt="") 
                        a.promo__social(href="#")
                            img(src="img/icon/facebook.svg", alt="") 
                        a.promo__social(href="#")
                            img(src="img/icon/vk.svg", alt="") 
                    

    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="js/script.js")
                
